<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MCSearch | Hostile</title>
    <link href= "../css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="center">
        <h1 class="title">Account Search</h1>
        <label for="username">
            <input type="text" placeholder="Username" id="username">
        </label>
        <button type="submit" id="search" onclick="handleClick()">Search</button>

        <script>
            const { ipcRenderer } = require('electron')

            const handleClick = () => {
                ipcRenderer.send('search', document.getElementById('username').value)
            }
        </script>
    </div>
</div>
</body>
</html>