@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right,#23868f,#869f0a);
}

.container {
    display: flex;
    margin-top: 15%;

    justify-content: center;
    text-align: center;
}

.container .center {
    display: block;
    background: white;

    height: 200px;
    width: 400px;

    border-radius: 10px;
    border-bottom-color: #2A4494;
}

input {
    border: 0;

    border-bottom: #F09D51;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    width: 250px;
    height: 30px;
}

input:focus {
    outline: 0;

    border-bottom: #313638;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

button {
    width: 200px;
    height: 40px;

    color: white;

    border-radius: 8px;
    border-color: transparent;

    margin-top: 20px;

    background: #0096FF;
}